//-
	Набор миксинов





mixin progress( percent )
	.progress
		.progress-bar( role="progressbar", style="width: " + percent, aria-valuenow=percent, aria-valuemin="0", aria-valuemax="100" )



mixin heading( args )
	.heading.heading--icon
		img.heading__thumbnail.thumbnail.lazy( src="#", data-src=args.thumbnail, alt=args.title, style="border: medium none;" )
		h3.heading__title.title #{args.title}



mixin widget( args )
	.widget
		h3.widget__title.title #{args.title}
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nisi asperiores eum dolorum eveniet beatae dolorem quo repudiandae commodi. Illum, enim molestiae, animi quae necessitatibus culpa consectetur aspernatur tenetur exercitationem?




mixin flatitem( args )
	a.flatitem.lazy( href="#", data-src=args.thumbnail )
		.title #{args.title}