//-
	Подключение скриптов и стилей


link( href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap&subset=cyrillic-ext", rel="stylesheet" )


script( src=src.js+'jquery.js' )


link( rel="stylesheet", href=src.css+'public.css' )
script( src=src.js+'public.js' )


script( src=src.js+'lazyload.js' )
script.
	jQuery( ".lazy" ).lazy();


link( rel="stylesheet", href=src.css+'fancybox.css' )
script( src=src.js+'fancybox.js' )
script.
	jQuery( '.fancybox' ).fancybox();


script( src=src.js+"superembed.js" )


link( rel="stylesheet", href=src.css+'slick.css' )
script( src=src.js+'slick.js' )
script( src=src.js+'firstscreen-list-init.js' )
script( src=src.js+'faculties-list-init.js' )
script( src=src.js+'/init/graduate-list.js' )
script( src=src.js+'partners-list-init.js' )
script( src=src.js+'news-list-entries-init.js' )
script( src=src.js+'news-categories-init.js' )