//-
	Подключение скриптов и стилей


//- link( href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap&subset=cyrillic-ext", rel="stylesheet" )


script( src=src.js+'jquery.js' )


link( rel="stylesheet", href=src.css+'public.css' )
script( src=src.js+'public.js' )


link( rel="stylesheet", href=src.css+'fonts.css' )


script( src=src.js+'lazyload.js' )
script.
	jQuery( ".lazy" ).lazy();


link( rel="stylesheet", href=src.css+'fancybox.css' )
script( src=src.js+'fancybox.js' )
script( src=src.js+'init/fancybox-gallery.js' )
script( src=src.js+'init/search-modal.js' )


script( src=src.js+"superembed.js" )


link( rel="stylesheet", href=src.css+'slick.css' )
script( src=src.js+'slick.js' )
script( src=src.js+'init/firstscreen-list.js' )
//- script( src=src.js+'init/faculties-list.js' )
script( src=src.js+'init/graduate-list.js' )
script( src=src.js+'init/partners-list.js' )
script( src=src.js+'init/news-list-entries.js' )
script( src=src.js+'init/news-categories.js' )