//-
	Заголовок страницы для постов и постоянных страниц


.pageheader
	a.fancybox.thumbnail( href=src.img+'sectors/05.png' ): img.lazy.wp-post-thumbnail( src="#", data-src=src.img+'sectors/05.png', alt=page.title )
	h1.title #{page.title}
p.lead #{page.excerpt}
//- .jssocials-wrap
//- 	.jssocials-heading Поделиться:
//- 	.jssocials