




mixin accordio_item( args )
	.col-xs-12.col-sm-6: .accordio.accordio--info( data-heading="h3" )
		+heading( { title: args.title, thumbnail: args.thumbnail } )
		block




section.section.about#about
	h2.title Предложения для поступления

	.container: .navicons( role="list" )
		+navicon( { icon: src.img+'iconnav/bell.png', title: 'для випускників шкіл' } )
		+navicon( { icon: src.img+'iconnav/certificate.png', title: 'для випускників технікумів та коледжів' } )
		+navicon( { icon: src.img+'iconnav/magisters.png', title: 'для майбутніх магістрів' } )
		+navicon( { icon: src.img+'iconnav/world.png', title: 'для іноземних громадян' } )
		+navicon( { icon: src.img+'iconnav/science.png', title: 'аспірантура та докторантура' } )
		+navicon( { icon: src.img+'iconnav/ukraine.png', title: 'для абітуриєнтів з Донбасу' } )


	.container: .row
		+accordio_item( { title: 'Производство и технологии', thumbnail: src.img+'sectors/18.png', bg: src.img+'sectors/18-bg.jpg' } )
			h4 183 Технології захисту навколишнього середовища
			ul
				li: a( href="#" ) Технології захисту навколишнього середовища #[small (Бакалавр)] 
		+accordio_item( { title: 'Химическая и биоинженерия', thumbnail: src.img+'sectors/16.png', bg: src.img+'sectors/16-bg.jpg' } )
			h4 163 Біомедична інженерія
			ul
				li: a( href="#" ) Біомедична інженерія #[small (Бакалавр)] 
		+accordio_item( { title: 'Транспорт', thumbnail: src.img+'sectors/27.png', bg: src.img+'sectors/27-bg.jpg' } )
			h4 275.02 Транспортні технології. На залізничному транспорті
			ul
				li: a( href="#" ) Логістика транспортних систем #[small (Бакалавр)] на базі вищої освіти
				li: a( href="#" ) Транспортні технології на залізничному транспорті #[small (Бакалавр)]
				li: a( href="#" ) Організація перевезень і управління на промисловому транспорті #[small (Бакалавр)] на базі вищої освіти
				li: a( href="#" ) Організація перевезень і управління на промисловому транспорті #[small (Магістр)]
				li: a( href="#" ) Транспортні системи #[small (Магістр)] 
			h4 275.03 Транспортні технології. На автомобільному транспорті
			ul
				li: a( href="#" ) Транспортні технології на автомобільному транспорті #[small (Бакалавр)]
				li: a( href="#" ) Організація міжнародних перевезень #[small (Бакалавр)] на базі вищої освіти
				li: a( href="#" ) Організація перевезень і управління на автомобільному транспорті #[small (Бакалавр)] на базі вищої освіти
				li: a( href="#" ) Організація міжнародних перевезень #[small (Магістр)]
				li: a( href="#" ) Організація перевезень і управління на автомобільному транспорті #[small (Магістр)]
		+accordio_item( { title: 'Сфера обслуживания', thumbnail: src.img+'sectors/24.png', bg: src.img+'sectors/24-bg.jpg' } )
			h4 242 Туризм
			ul
				li: a( href="#" ) Туризм #[small (Бакалавр)] 
		+accordio_item( { title: 'Социальная работа', thumbnail: src.img+'sectors/23.png', bg: src.img+'sectors/23-bg.jpg' } )
			h4 23 Соціальна робота
			ul
				li: a( href="#" ) Соціальна робота #[small (Бакалавр)]
				li: a( href="#" ) Соціальна робота #[small (Магістр)] 
		+accordio_item( { title: 'Архитектура', thumbnail: src.img+'sectors/19.png', bg: src.img+'sectors/19-bg.jpg' } )
			h4 191 Архітектура та містобудування
			ul
				li: a( href="#" ) Архітектура будівель і споруд #[small (Бакалавр)] 
			h4 192 Будівництво та цивільна інженерія
			ul
				li: a( href="#" ) Будівництво #[small (Бакалавр)]
				li: a( href="#" ) Промислове і цивільне будівництво #[small (Магістр)] 
		+accordio_item( { title: 'Автоматизация', thumbnail: src.img+'sectors/15.png', bg: src.img+'sectors/15-bg.jpg' } )
			h4 151 Автоматизація та комп’ютерно - інтегровані технології
			ul
				li: a( href="#" ) Автоматизація та комп’ютерно-інтегровані технології #[small (Бакалавр)]
				li: a( href="#" ) Автоматизоване управління технологічними процесами #[small (Магістр)]
				li: a( href="#" ) Комп'ютерно-інтегровані технологічні процеси і виробництва #[small (Магістр)] 
		+accordio_item( { title: 'Электротехника', thumbnail: src.img+'sectors/14.png', bg: src.img+'sectors/14-bg.jpg' } )
			h4 141 Електроенергетика, електротехніка та електромеханіка
			ul
				li: a( href="#" ) Електроенергетика, електротехніка та електромеханіка #[small (Бакалавр)]
				li: a( href="#" ) Електромеханічні системи автоматизації та електропривод #[small (Магістр)]
				li: a( href="#" ) Електротехнічні системи електроспоживання #[small (Магістр)]
				li: a( href="#" ) Системи управління виробництвом і розподілом електроенергії #[small (Магістр)] 
			h4 144 Теплоенергетика
			ul
				li: a( href="#" ) Теплоенергетика #[small (Бакалавр)]
				li: a( href="#" ) Енергетичний менеджмент #[small (Магістр)]
				li: a( href="#" ) Теплоенергетика #[small (Магістр)] 
		+accordio_item( { title: 'Механическая инженерия', thumbnail: src.img+'sectors/13.png', bg: src.img+'sectors/13-bg.jpg' } )
			h4 131 Прикладна механіка
			ul
				li: a( href="#" ) Зварювання #[small (Бакалавр)]
				li: a( href="#" ) Прикладна механіка #[small (Бакалавр)]
				li: a( href="#" ) Інженерна механіка #[small (Бакалавр)]
				li: a( href="#" ) Відновлення та підвищення зносостійкості деталей і конструкцій #[small (Магістр)]
				li: a( href="#" ) Обробка металів за спецтехнологіями #[small (Магістр)]
				li: a( href="#" ) Технології машинобудування #[small (Магістр)]
				li: a( href="#" ) Технології та устаткування зварювання #[small (Магістр)] 
			h4 132 Матеріалознавство
			ul
				li: a( href="#" ) Матеріалознавство #[small (Бакалавр)]
				li: a( href="#" ) Матеріалознавство #[small (Магістр)] 
			h4 133 Галузеве машинобудування
			ul
				li: a( href="#" ) Галузеве машинобудування #[small (Бакалавр)]
				li: a( href="#" ) Металорізальні верстати та системи #[small (Бакалавр)]
				li: a( href="#" ) Металургійне обладнання #[small (Бакалавр)]
				li: a( href="#" ) Інструментальне виробництво #[small (Магістр)]
				li: a( href="#" ) Металорізальні верстати та системи #[small (Магістр)]
				li: a( href="#" ) Металургійне обладнання #[small (Магістр)]
				li: a( href="#" ) Підйомно-транспортні, дорожні, будівельні, меліоративні машини і обладнання #[small (Магістр)]
				li: a( href="#" ) Нанотехнології в машинобудуванні #[small (Магістр)] 
			h4 136 Металургія
			ul
				li: a( href="#" ) Металургія #[small (Бакалавр)]
				li: a( href="#" ) Металургія чорних металів #[small (Магістр)]
				li: a( href="#" ) Обробка металів тиском #[small (Магістр)] 
		+accordio_item( { title: 'Информационные технологии', thumbnail: src.img+'sectors/12.png', bg: src.img+'sectors/12-bg.jpg' } )
			h4 122 Комп’ютерні науки
			ul
				li: a( href="#" ) Інформатика #[small (Бакалавр)]
				li: a( href="#" ) Комп’ютерні науки #[small (Бакалавр)]
				li: a( href="#" ) Інформатика #[small (Магістр)]
				li: a( href="#" ) Інформаційні системи та технології #[small (Магістр)]
				li: a( href="#" ) Консолідована інформація #[small (Магістр)] 
		+accordio_item( { title: 'Математика и статистика', thumbnail: src.img+'sectors/11.png', bg: src.img+'sectors/11-bg.jpg' } )
			h4 113 Прикладна математика
			ul
				li: a( href="#" ) Комп’ютерне моделювання #[small (Бакалавр)]
				li: a( href="#" ) Комп’ютерне моделювання #[small (Магістр)] 
		+accordio_item( { title: 'Управление и администрирование', thumbnail: src.img+'sectors/07.png', bg: src.img+'sectors/07-bg.jpg' } )
			h4 071 Облік і оподаткування
			ul 
				li: a( href="#" ) Державний аудит #[small (Бакалавр)]
				li: a( href="#" ) Облік і аудит #[small (Бакалавр)]
				li: a( href="#" ) Облік і аудит #[small (Магістр)] 
			h4 072 Фінанси, банківська справа та страхування
			ul
				li: a( href="#" ) Фінанси і кредит #[small (Бакалавр)]
				li: a( href="#" ) інанси і кредит #[small (Магістр)] 
			h4 073 Менеджмент
			ul
				li: a( href="#" ) Бізнес-адміністрування #[small (Бакалавр)]
				li: a( href="#" ) Менеджмент #[small (Бакалавр)]
				li: a( href="#" ) Менеджмент транспорту та логістики #[small (Бакалавр)]
				li: a( href="#" ) Бізнес-адміністрування #[small (Магістр)]
				li: a( href="#" ) Логістичний менеджмент #[small (Магістр)]
				li: a( href="#" ) Менеджмент організацій і адміністрування #[small (Магістр)]
				li: a( href="#" ) Управління проектами #[small (Магістр)] 
			h4 075 Маркетинг
			ul
				li: a( href="#" ) Маркетинг #[small (Бакалавр)]
				li: a( href="#" ) Маркетинг #[small (Магістр)] 
			h4 076 Підприємництво, торгівля та біржова діяльність
			ul
				li: a( href="#" ) Підприємництво, торгівля та біржова діяльність #[small (Бакалавр)]
				li: a( href="#" ) Інтелектуальна власність #[small (Магістр)]
				li: a( href="#" ) Якість, стандартизація та сертифікація #[small (Магістр)] 
		+accordio_item( { title: 'Социальные и поведенческие науки', thumbnail: src.img+'sectors/05.png', bg: src.img+'sectors/05-bg.jpg' } )
			h4 051 Економіка
			ul
				li: a( href="#" ) Економіка підприємства #[small (Бакалавр)]
				li: a( href="#" ) Економіка довкілля і природних ресурсів #[small (Магістр)]
				li: a( href="#" ) Економіка підприємства #[small (Магістр)] 
		+accordio_item( { title: 'Гуманитарные науки', thumbnail: src.img+'sectors/03.png', bg: src.img+'sectors/03-bg.jpg' } )
			h4 035.034 Філологія. Слов’янські мови та літератури (переклад включно), перша - російська
			ul
				li: a( href="#" ) Філологія (переклад з російської, польської мов на українську) #[small (Бакалавр)]
				li: a( href="#" ) Переклад (російська та польська мови) #[small (Магістр)] 
			h4 035.041 Філологія. Германські мови та літератури (переклад включно), перша - англійська
			ul
				li: a( href="#" ) Англійська та німецька мови (переклад включно) #[small (Бакалавр)]
				li: a( href="#" ) Переклад (англійська та німецька мови) #[small (Магістр)] 
		+accordio_item( { title: 'Образование и педагогика', thumbnail: src.img+'sectors/01.png', bg: src.img+'sectors/01-bg.jpg' } )
			h4 014.04 Середня освіта. Математика
			ul
				li: a( href="#" ) Математика #[small (Бакалавр)]
			h4 01.01 Професійна освіта
			ul
				li: a( href="#" ) Професійна освіта (Будівництво) #[small (Бакалавр)]
				li: a( href="#" ) Професійна освіта (Будівництво) #[small (Магістр)]






//- mixin card( args )
//- 	.col-xs-12.col-sm-6.col-md-4.col-lg-4
//- 		.card.lazy( data-src=args.bg )
//- 			a.overlay( href="#", role="buttonn", data-card="toggle" )
//- 				//- img.thumbnail.lazy( src="#", data-src=args.thumbnail, alt=args.title )
//- 				img.thumbnail.lazy( src="#", data-src=args.bg, alt=args.title )
//- 				h3.title #{args.title}
//- 				.icon.icon--desctop #[span.sr-only Открыть все специальности]
//- 				//- .icon.icon--mobile #[span.sr-only Открыть все специальности]
//- 			.excerpt
//- 				button.close( data-card="toggle" ) #[span.sr-only Закрыть]
//- 				p.lead.text-center #{args.title}
//- 				block


//- section.section.sectors#sectors
//- 	h2.title Learning programs
//- 	.container: .row.center-xs
//- 		+card( { title: 'Производство и технологии', thumbnail: src.img+'sectors/18.png', bg: src.img+'sectors/18-bg.jpg' } )
//- 			h4 183 Технології захисту навколишнього середовища
//- 			ul
//- 				li: a( href="#" ) Технології захисту навколишнього середовища #[small (Бакалавр)] 
//- 		+card( { title: 'Химическая и биоинженерия', thumbnail: src.img+'sectors/16.png', bg: src.img+'sectors/16-bg.jpg' } )
//- 			h4 163 Біомедична інженерія
//- 			ul
//- 				li: a( href="#" ) Біомедична інженерія #[small (Бакалавр)] 
//- 		+card( { title: 'Транспорт', thumbnail: src.img+'sectors/27.png', bg: src.img+'sectors/27-bg.jpg' } )
//- 			h4 275.02 Транспортні технології. На залізничному транспорті
//- 			ul
//- 				li: a( href="#" ) Логістика транспортних систем #[small (Бакалавр)] на базі вищої освіти
//- 				li: a( href="#" ) Транспортні технології на залізничному транспорті #[small (Бакалавр)]
//- 				li: a( href="#" ) Організація перевезень і управління на промисловому транспорті #[small (Бакалавр)] на базі вищої освіти
//- 				li: a( href="#" ) Організація перевезень і управління на промисловому транспорті #[small (Магістр)]
//- 				li: a( href="#" ) Транспортні системи #[small (Магістр)] 
//- 			h4 275.03 Транспортні технології. На автомобільному транспорті
//- 			ul
//- 				li: a( href="#" ) Транспортні технології на автомобільному транспорті #[small (Бакалавр)]
//- 				li: a( href="#" ) Організація міжнародних перевезень #[small (Бакалавр)] на базі вищої освіти
//- 				li: a( href="#" ) Організація перевезень і управління на автомобільному транспорті #[small (Бакалавр)] на базі вищої освіти
//- 				li: a( href="#" ) Організація міжнародних перевезень #[small (Магістр)]
//- 				li: a( href="#" ) Організація перевезень і управління на автомобільному транспорті #[small (Магістр)]
//- 		+card( { title: 'Сфера обслуживания', thumbnail: src.img+'sectors/24.png', bg: src.img+'sectors/24-bg.jpg' } )
//- 			h4 242 Туризм
//- 			ul
//- 				li: a( href="#" ) Туризм #[small (Бакалавр)] 
//- 		+card( { title: 'Социальная работа', thumbnail: src.img+'sectors/23.png', bg: src.img+'sectors/23-bg.jpg' } )
//- 			h4 23 Соціальна робота
//- 			ul
//- 				li: a( href="#" ) Соціальна робота #[small (Бакалавр)]
//- 				li: a( href="#" ) Соціальна робота #[small (Магістр)] 
//- 		+card( { title: 'Архитектура', thumbnail: src.img+'sectors/19.png', bg: src.img+'sectors/19-bg.jpg' } )
//- 			h4 191 Архітектура та містобудування
//- 			ul
//- 				li: a( href="#" ) Архітектура будівель і споруд #[small (Бакалавр)] 
//- 			h4 192 Будівництво та цивільна інженерія
//- 			ul
//- 				li: a( href="#" ) Будівництво #[small (Бакалавр)]
//- 				li: a( href="#" ) Промислове і цивільне будівництво #[small (Магістр)] 
//- 		+card( { title: 'Автоматизация', thumbnail: src.img+'sectors/15.png', bg: src.img+'sectors/15-bg.jpg' } )
//- 			h4 151 Автоматизація та комп’ютерно - інтегровані технології
//- 			ul
//- 				li: a( href="#" ) Автоматизація та комп’ютерно-інтегровані технології #[small (Бакалавр)]
//- 				li: a( href="#" ) Автоматизоване управління технологічними процесами #[small (Магістр)]
//- 				li: a( href="#" ) Комп'ютерно-інтегровані технологічні процеси і виробництва #[small (Магістр)] 
//- 		+card( { title: 'Электротехника', thumbnail: src.img+'sectors/14.png', bg: src.img+'sectors/14-bg.jpg' } )
//- 			h4 141 Електроенергетика, електротехніка та електромеханіка
//- 			ul
//- 				li: a( href="#" ) Електроенергетика, електротехніка та електромеханіка #[small (Бакалавр)]
//- 				li: a( href="#" ) Електромеханічні системи автоматизації та електропривод #[small (Магістр)]
//- 				li: a( href="#" ) Електротехнічні системи електроспоживання #[small (Магістр)]
//- 				li: a( href="#" ) Системи управління виробництвом і розподілом електроенергії #[small (Магістр)] 
//- 			h4 144 Теплоенергетика
//- 			ul
//- 				li: a( href="#" ) Теплоенергетика #[small (Бакалавр)]
//- 				li: a( href="#" ) Енергетичний менеджмент #[small (Магістр)]
//- 				li: a( href="#" ) Теплоенергетика #[small (Магістр)] 
//- 		+card( { title: 'Механическая инженерия', thumbnail: src.img+'sectors/13.png', bg: src.img+'sectors/13-bg.jpg' } )
//- 			h4 131 Прикладна механіка
//- 			ul
//- 				li: a( href="#" ) Зварювання #[small (Бакалавр)]
//- 				li: a( href="#" ) Прикладна механіка #[small (Бакалавр)]
//- 				li: a( href="#" ) Інженерна механіка #[small (Бакалавр)]
//- 				li: a( href="#" ) Відновлення та підвищення зносостійкості деталей і конструкцій #[small (Магістр)]
//- 				li: a( href="#" ) Обробка металів за спецтехнологіями #[small (Магістр)]
//- 				li: a( href="#" ) Технології машинобудування #[small (Магістр)]
//- 				li: a( href="#" ) Технології та устаткування зварювання #[small (Магістр)] 
//- 			h4 132 Матеріалознавство
//- 			ul
//- 				li: a( href="#" ) Матеріалознавство #[small (Бакалавр)]
//- 				li: a( href="#" ) Матеріалознавство #[small (Магістр)] 
//- 			h4 133 Галузеве машинобудування
//- 			ul
//- 				li: a( href="#" ) Галузеве машинобудування #[small (Бакалавр)]
//- 				li: a( href="#" ) Металорізальні верстати та системи #[small (Бакалавр)]
//- 				li: a( href="#" ) Металургійне обладнання #[small (Бакалавр)]
//- 				li: a( href="#" ) Інструментальне виробництво #[small (Магістр)]
//- 				li: a( href="#" ) Металорізальні верстати та системи #[small (Магістр)]
//- 				li: a( href="#" ) Металургійне обладнання #[small (Магістр)]
//- 				li: a( href="#" ) Підйомно-транспортні, дорожні, будівельні, меліоративні машини і обладнання #[small (Магістр)]
//- 				li: a( href="#" ) Нанотехнології в машинобудуванні #[small (Магістр)] 
//- 			h4 136 Металургія
//- 			ul
//- 				li: a( href="#" ) Металургія #[small (Бакалавр)]
//- 				li: a( href="#" ) Металургія чорних металів #[small (Магістр)]
//- 				li: a( href="#" ) Обробка металів тиском #[small (Магістр)] 
//- 		+card( { title: 'Информационные технологии', thumbnail: src.img+'sectors/12.png', bg: src.img+'sectors/12-bg.jpg' } )
//- 			h4 122 Комп’ютерні науки
//- 			ul
//- 				li: a( href="#" ) Інформатика #[small (Бакалавр)]
//- 				li: a( href="#" ) Комп’ютерні науки #[small (Бакалавр)]
//- 				li: a( href="#" ) Інформатика #[small (Магістр)]
//- 				li: a( href="#" ) Інформаційні системи та технології #[small (Магістр)]
//- 				li: a( href="#" ) Консолідована інформація #[small (Магістр)] 
//- 		+card( { title: 'Математика и статистика', thumbnail: src.img+'sectors/11.png', bg: src.img+'sectors/11-bg.jpg' } )
//- 			h4 113 Прикладна математика
//- 			ul
//- 				li: a( href="#" ) Комп’ютерне моделювання #[small (Бакалавр)]
//- 				li: a( href="#" ) Комп’ютерне моделювання #[small (Магістр)] 
//- 		+card( { title: 'Управление и администрирование', thumbnail: src.img+'sectors/07.png', bg: src.img+'sectors/07-bg.jpg' } )
//- 			h4 071 Облік і оподаткування
//- 			ul 
//- 				li: a( href="#" ) Державний аудит #[small (Бакалавр)]
//- 				li: a( href="#" ) Облік і аудит #[small (Бакалавр)]
//- 				li: a( href="#" ) Облік і аудит #[small (Магістр)] 
//- 			h4 072 Фінанси, банківська справа та страхування
//- 			ul
//- 				li: a( href="#" ) Фінанси і кредит #[small (Бакалавр)]
//- 				li: a( href="#" ) інанси і кредит #[small (Магістр)] 
//- 			h4 073 Менеджмент
//- 			ul
//- 				li: a( href="#" ) Бізнес-адміністрування #[small (Бакалавр)]
//- 				li: a( href="#" ) Менеджмент #[small (Бакалавр)]
//- 				li: a( href="#" ) Менеджмент транспорту та логістики #[small (Бакалавр)]
//- 				li: a( href="#" ) Бізнес-адміністрування #[small (Магістр)]
//- 				li: a( href="#" ) Логістичний менеджмент #[small (Магістр)]
//- 				li: a( href="#" ) Менеджмент організацій і адміністрування #[small (Магістр)]
//- 				li: a( href="#" ) Управління проектами #[small (Магістр)] 
//- 			h4 075 Маркетинг
//- 			ul
//- 				li: a( href="#" ) Маркетинг #[small (Бакалавр)]
//- 				li: a( href="#" ) Маркетинг #[small (Магістр)] 
//- 			h4 076 Підприємництво, торгівля та біржова діяльність
//- 			ul
//- 				li: a( href="#" ) Підприємництво, торгівля та біржова діяльність #[small (Бакалавр)]
//- 				li: a( href="#" ) Інтелектуальна власність #[small (Магістр)]
//- 				li: a( href="#" ) Якість, стандартизація та сертифікація #[small (Магістр)] 
//- 		+card( { title: 'Социальные и поведенческие науки', thumbnail: src.img+'sectors/05.png', bg: src.img+'sectors/05-bg.jpg' } )
//- 			h4 051 Економіка
//- 			ul
//- 				li: a( href="#" ) Економіка підприємства #[small (Бакалавр)]
//- 				li: a( href="#" ) Економіка довкілля і природних ресурсів #[small (Магістр)]
//- 				li: a( href="#" ) Економіка підприємства #[small (Магістр)] 
//- 		+card( { title: 'Гуманитарные науки', thumbnail: src.img+'sectors/03.png', bg: src.img+'sectors/03-bg.jpg' } )
//- 			h4 035.034 Філологія. Слов’янські мови та літератури (переклад включно), перша - російська
//- 			ul
//- 				li: a( href="#" ) Філологія (переклад з російської, польської мов на українську) #[small (Бакалавр)]
//- 				li: a( href="#" ) Переклад (російська та польська мови) #[small (Магістр)] 
//- 			h4 035.041 Філологія. Германські мови та літератури (переклад включно), перша - англійська
//- 			ul
//- 				li: a( href="#" ) Англійська та німецька мови (переклад включно) #[small (Бакалавр)]
//- 				li: a( href="#" ) Переклад (англійська та німецька мови) #[small (Магістр)] 
//- 		+card( { title: 'Образование и педагогика', thumbnail: src.img+'sectors/01.png', bg: src.img+'sectors/01-bg.jpg' } )
//- 			h4 014.04 Середня освіта. Математика
//- 			ul
//- 				li: a( href="#" ) Математика #[small (Бакалавр)]
//- 			h4 01.01 Професійна освіта
//- 			ul
//- 				li: a( href="#" ) Професійна освіта (Будівництво) #[small (Бакалавр)]
//- 				li: a( href="#" ) Професійна освіта (Будівництво) #[small (Магістр)]