





mixin grasuate( args )
	div: .graduate
		h3.name: a( href="#" ) #{args.name}
		a.thumbnail( href="#" ): img.wp-post-tumbnail( src="#", data-lazy=args.thumbnail, alt=args.name )
		a.sector( href="#" ): img( src="#", data-lazy=args.icon )
		a.specialty( href="#" ) #{args.specialty}
		.excerpt #{args.excerpt}




section.section.people#people
	.bgi.lazy( data-src=src.img+'people/bgi.jpg' )
	.container: .row.row-reverce.center-xs.middle-xs
		.col-xs-12.col-sm-9.col-md-6.col-lg-7.col-md-offset-1: .wrap
			h2 Мрій! Вчися! Взлітай!
			.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis provident consequatur ratione harum corporis omnis beatae dolore voluptatum obcaecati voluptas optio facilis molestiae, odit ipsum reiciendis vero, quo eligendi. Dignissimos!
			p: a.btn.btn-success( href="#" ) Кнопка
		.col-xs-12.col-sm-9.col-md-5.col-lg-4.first-md: .slider
			#graduate-list
				+grasuate( { icon: src.img+'sectors/01.png', specialty: 'Середня освіта. Математика', thumbnail: src.img+'graduates/01.jpg', name: 'Анатолій Гущин', excerpt: 'Учасник і дипломант фестивалів художньої ковки. Організатор «Сталевого джерела» в Маріуполі.' } )
				+grasuate( { icon: src.img+'sectors/14.png', specialty: 'Електроенергетика, електротехніка та електромеханіка', thumbnail: src.img+'graduates/02.jpg', name: 'Марина Гарманюк', excerpt: 'Диплом II ступеня Всеукраїнського конкурсу студентських наукових робіт 2018-2019 навчального року з галузі «Енергетика»' } )
				+grasuate( { icon: src.img+'sectors/18.png', specialty: 'Технології захисту навколишнього середовища', thumbnail: src.img+'graduates/03.jpg', name: 'Костянтин Згара', excerpt: 'Диплом III cтупеня Всеукраїнського конкурсу студентських наукових робіт 2018-2019 навчального року з галузі «Енергетика»' } )
				+grasuate( { icon: src.img+'sectors/27.png', specialty: 'Транспортні технології. На залізничному транспорті', thumbnail: src.img+'graduates/04.jpg', name: 'Сергій Гулак', excerpt: 'Диплом Міністерства освіти і науки України за III місце у Всеукраїнському конкурсі студентських наукових робіт 2018-2019 навчального року за спеціальністю «Інженерія програмного забезпечення»' } )
				+grasuate( { icon: src.img+'sectors/13.png', specialty: 'Філологія. Германські мови та літератури (переклад включно), перша - англійська', thumbnail: src.img+'graduates/05.jpg', name: 'Олексій Голубятник', excerpt: 'Призерка Всеукраїнського конкурсу студентських наукових робіт із галузі «Загальна та соціальна психологія»' } )
			.slider-controls#graduate-controls
				button.slider-arrow.prev#graduate-arrow-prev #[span.sr-only Предыдущий слайд]
				button.slider-arrow.next#graduate-arrow-next #[span.sr-only Следующий слайд]